body {
    color: white; 
    background: black;
    margim: 0px;
}

header {
border-bottom: solid 2px rgb(30, 23, 78);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 128, 230);
}

section {
background: rgb(24, 129, 33);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
    justify-content: center;
}

div{
margin-right: 20px;
}
